SLS_DB_USERNAME={{op://Environment Variables/dictionary-sls-api-dev/SLS_DB_USERNAME}}
SLS_DB_PASSWORD={{op://Environment Variables/dictionary-sls-api-dev/SLS_DB_PASSWORD}}
SLS_DB_NAME={{op://Environment Variables/dictionary-sls-api-dev/SLS_DB_NAME}}
GOOGLE_API_KEY={{op://Environment Variables/dictionary-sls-api-dev/GOOGLE_API_KEY}}
SLS_IA_API_KEY={{op://Environment Variables/dictionary-sls-api-dev/SLS_IA_API_KEY}}
SLS_IMG_ENDPOINT={{op://Environment Variables/dictionary-sls-api-dev/SLS_IMG_ENDPOINT}}
SLS_IMG_ACCESS_KEY={{op://Environment Variables/dictionary-sls-api-dev/SLS_IMG_ACCESS_KEY}}
SLS_GIF_ENDPOINT={{op://Environment Variables/dictionary-sls-api-dev/SLS_GIF_ENDPOINT}}
SLS_GIF_API_KEY={{op://Environment Variables/dictionary-sls-api-dev/SLS_GIF_API_KEY}}
SLS_KEY_ALARM={{op://Environment Variables/dictionary-sls-api-dev/SLS_KEY_ALARM}}